html, body {
    margin:0;
    padding:0;
    font-family: Arial;
}

#exampleCheckArea {
    margin: 25px;
}

.todoTable {
    font-family: Arial;
    border-collapse: collapse;
    width: 90%;
    margin: 25px
}

.todoTable caption {
    font-size: 20px;
    font-weight: bold;
}

.todoTable td, .todoTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.todoTable tr:nth-child(even){background-color: #f2f2f2;}

.todoTable tr:hover {background-color: #ddd;}

.todoTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1a45cf;
    color: white;
}



header {
    display: flex;
    justify-content: center;
    background: #1a45cf;
    padding: 20px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}



#exampleTodoList {
    display: none;
}



#addTodoArea {
    margin: 25px;
}



#realTodoList {
    display: none;
}
