<script>
    import { realTodos } from './todos_data.js';
    
    let newTodo = {
        "title": "",
        "completed": false
    }

    function addTodo() {
        const newTodoIndex = $realTodos.length + 1;
        $realTodos[newTodoIndex] = newTodo;
        newTodo = {
            "title": "",
            "completed": false
        }
    };
</script>

<style>
    #addTodoArea {
        margin: 25px;
    }
</style>

<div id="addTodoArea">

    <h2>Neuen Todo erstellen</h2>
    
    <form on:submit|preventDefault={addTodo}>
        <input type="text" bind:value={newTodo.title}>
        <button type="submit" disabled={!newTodo.title}>Speichern</button>
    </form>
    
</div>