<script>
	import Header from './Header.svelte';
	import AddTodo from './AddTodo.svelte';
	import RealTodoTable from './RealTodoTable.svelte';
	import ExampleTodoTable from './ExampleTodoTable.svelte';
	import { realTodos } from './todos_data.js';

	let exampleCheck = false;
	let realDataCheck = $realTodos.length > 0;
</script>

<main>
	<Header/>
	
	<div id="exampleCheckArea">
		<input type="checkbox" bind:checked={exampleCheck}>
		<span id="exampleLabel"><strong>Sollen Beispieldaten angezeigt werden?</strong> (Änderungen werden nicht gespeichert!)</span>
	</div>

	{#if exampleCheck}
		<ExampleTodoTable />
	{:else}
		<AddTodo/>
		{#if realDataCheck}
			<RealTodoTable/>
		{/if}
	{/if}
</main>

<style>
	:global(body) {
		margin:0;
		padding:0;
	}

	#exampleCheckArea {
		margin: 25px;
	}

	:global(.todoTable) {
		font-family: Arial;
		border-collapse: collapse;
		width: 90%;
		margin: 25px
	}

	:global(.todoTable caption) {
		font-size: 20px;
		font-weight: bold;
	}

	:global(.todoTable td), :global(.todoTable th) {
		border: 1px solid #ddd;
		padding: 8px;
	}

	:global(.todoTable tr:nth-child(even)){background-color: #f2f2f2;}

	:global(.todoTable tr:hover) {background-color: #ddd;}

	:global(.todoTable th) {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #1a45cf;
		color: white;
	}
</style>
