<script>
    import { onMount } from 'svelte';
    
    let exampleTodos = [];	

    onMount(async () => {
		const response = await fetch("https://jsonplaceholder.typicode.com/todos");
        const json = await response.json();
        exampleTodos = json;
	});
</script>

<table class="todoTable">
		<caption>Beispielhafte Todos</caption>
		<tr>
			<th align="left">Status</th>
			<th align="left">Aufgabe</th>
		</tr>
		{#each exampleTodos as exampleTodo, i}
			<tr>
				<td>
					<input type="checkbox" bind:checked={exampleTodo.completed}>
				</td>
				<td>{exampleTodo.title}</td>
			</tr>
		{/each}
</table>