<script>

</script>

<header>
    Transferleistung Beispielsprojekt Svelte
</header>

<style>

    header {
        display: flex;
        justify-content: center;
        background: #1a45cf;
        padding: 20px;
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        color: white;
    }

</style>