<script>
	import { realTodos } from './todos_data.js';
</script>

<table class="todoTable">
	<caption>Echte Todos</caption>
	<tr>
		<th align="left">Status</th>
		<th align="left">Aufgabe</th>
	</tr>
	{#each Object.keys($realTodos) as key}
		<tr>
			<td>
				<input type="checkbox" bind:checked={$realTodos[key].completed}>
			</td>
			<td>{$realTodos[key].title}</td>
		</tr>
	{/each}
</table>