<main>
    <app-header></app-header>

    <div id="exampleCheckArea">

        <input type="checkbox" [(ngModel)]="exampleCheck">

        <span id="exampleLabel"><strong>Sollen Beispieldaten angezeigt werden?</strong> (Änderungen werden nicht
            gespeichert!)</span>

    </div>

    <app-example-todo-table *ngIf="exampleCheck, else noExamples"></app-example-todo-table>

    <ng-template #noExamples>

        <app-add-todo [realTodos]="realTodos"></app-add-todo>

        <app-real-todo-table *ngIf="realDataCheck" [realTodos]="realTodos"></app-real-todo-table>

    </ng-template>
</main>

