<table class="todoTable">
    <caption>Echte Todos</caption>
    <tr>
        <th align="left">Status</th>
        <th align="left">Aufgabe</th>
    </tr>
    <tr *ngFor="let realTodo of realTodos">
        <td>
            <input type="checkbox" [(ngModel)]="realTodo.completed">
        </td>
        <td>{{realTodo.title}}</td>
    </tr>
</table>
