<div id="addTodoArea">

    <h2>Neuen Todo erstellen</h2>
        
    <form #addTodoForm="ngForm" (ngSubmit)="addTodo()" novalidate>

        <input type="text" [(ngModel)]="newTodo.title" name="title"
            id="title" #title="ngModel"
            [class.required]="title.dirty && title.invalid">

        <button type="submit" [disabled]="!newTodo.title">Speichern</button>
    </form>

</div>
