<table class="todoTable">
    <caption>Echte Todos</caption>
    <tr>
        <th align="left">Status</th>
        <th align="left">Aufgabe</th>
    </tr>
    <tr *ngFor="let exampleTodo of exampleTodos">
        <td>
            <input type="checkbox" [(ngModel)]="exampleTodo.completed">
        </td>
        <td>{{exampleTodo.title}}</td>
    </tr>
</table>
